.section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signupParentDiv {
    border: 1px solid white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 50px;
    border-radius: 6px;
    z-index: 1;
    background-color: white;
  }
  
 
  
  .section::before {
    content: '';
    position: fixed;
    top: 109%;
    left: 11%;
    width: 78%;
    height: 114%;

    background: linear-gradient(to top right, white, blue);
    border-radius: 50% 50% 0 0;
    transform: translateY(-50%);
    z-index: -1;
  }
  .signupParentDiv label {
    display: block;
    width: 100%;
   
    font-weight: bold;
    text-align: left; /* Align labels to the left */
  }
  
  .signupParentDiv .input {
    outline: none;
    width: 100%; /* Set input width to 100% */
    border: 1px solid rgb(241, 230, 230);
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .loginbtn{
    
    align-items: center;
    background-color: rgb(6, 65, 215) ;
    color: white;
    font-weight: bold;
width: 100%;
height: 2.3rem;
    border:  rgb(6, 65, 215) ;
    
   outline: none;
   
   border-radius: 6px;
  }
  .checkbox{
    margin-top: 8px;
  }